
1) Add parentheses to the following expression so that it evaluates to 0. 
>*8* - 3 * 2 - 1 + 1

In [ ]:
8-3*2-(1+1)

0

2) Implement Simple Interest Formula : S.I. = P × R × T

In [ ]:
P = 1500
R = 9.5
T = 20
SI=P*R*T/100

SI

3) Try to implement Compound Interest Formula : V = P(1+r/n)^nt=

In [ ]:
P = 1500
r = 0.043
n = 4
t = 6

V=P*(1+r/n)*n*t
V

36387.0

4) Implement Fahrenheit to Celsius conversion formula : F = ( C x 9 / 5 ) + 32
> C = 253

In [ ]:
C=253
F = ( C * 9 / 5 ) + 32
F

487.4

5) Create 2 variables and assign values like name and surname from the user. Then concatenate these 2 variables and display using print function.

In [ ]:
name=input()
surname=input()
print(name+' '+surname)

Tom
Hangs
Tom Hangs

6) Create 2 variables and assign values like birth month and birth year from the user. Display these 2 variables and the length of these variables inside a single print function.

In [ ]:
birth_month=input()
birth_year=input()
print('Length of birth month', birth_month,'is : ', len(birth_month) , '\nLength of birth year ', birth_year,'is  :', len(birth_year))

April
2000
Length of birth month April is :  5
Length of birth year  2000 is  : 4

7) Create 2 variables and assign values of user's favourite IPL team and any number between 1 - 10. Display the name of this favourite IPL team as many times as the number they pick from 1 - 10.
>Note : Pass the message in the input function for taking information from the user.

In [ ]:
IPL_teams=input('Enter your fev IPL team ')
N=int(input('Enter any number between 1-10. '))
print((IPL_teams+' ')*N)

Enter your fev IPL team MI
Enter any number between 1-10. 5
MI MI MI MI MI

8) Create 4 variables and take input from user for information like height, weight, age and a number from 1 - 10. Display the results of true division, floor division and exponentiation of height, 
weight and age with the number selected from 1 - 10 concatenated together inside a print function respectively.
> Note : Pass the message in the input function for taking information from the user. Hint : Concatenate string \n to display output on new line.

In [ ]:
height=int(input('Enter your height : '))
weight=int(input('Enter your weight : '))
age=int(input('Enter your age : '))
N=int(input('Enter any number from 1-10. : '))

print('True division of Height: '+str(height/N) ,'\nFloor division of Weight: '+str(weight//N),'\nExponentiation of age: ' +str(age**N))

Enter your height : 154
Enter your weight : 60
Enter your age : 25
Enter any number from 1-10. : 2
True division of Height: 77.0
Floor division of Weight: 30
Exponentiation of age: 625